#home-section{
  margin-bottom: 5rem;
}

#home-section .banner{
  position: relative;
  min-height: 515px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  padding-top: 2.5rem;
}
#home-section .banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./../../assets/images/veterenary.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8; /* Adjust this value for transparency */
  z-index: -1;
}

#home-section .banner .floating-pig-img{
  position: absolute;
  z-index: 2;
  bottom: -43px;
  width: 227px;
  height: 127px;
}

#home-section .banner .overlay-content{
  z-index: 20;
}

#home-section .banner .overlay-content .swine-logo{
  display: flex;
  margin: auto;
  gap: 0.9rem;
  align-items: center;
  width: fit-content;
  margin-bottom: 11.8rem;
}

#home-section .banner .overlay-content .swine-logo img{
  width: clamp(90px, 20vw, 149px);
  height: clamp(90px, 20vw, 149px);
}

#home-section .banner .overlay-content .swine-logo .label{
  font-size: var(--home-logo-fSize);
  font-weight: 900;
  color: var(--background-color);
  line-height: 1em;
  -webkit-text-stroke: 1px #717171; 
}

#home-section .banner .overlay-content .signup-container{
  position: relative;
  padding: 0 1rem;
}

#home-section .banner .overlay-content .signup-heading{
  font-size: var(--home-signup-heading-fSize);
  font-weight: 500;
  color: var(--background-color);
  margin-bottom: 0.2rem;
}

#home-section .banner .overlay-content .signup-body{
  font-size: var(--home-signup-body-fSize);
  color: var(--background-color);
  text-align: left;
  line-height: 1.2em;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#home-section .banner .overlay-content .join-btn{
  position: absolute;
  right: 2.6rem;
  color: var(--background-color);
  border: 1px solid var(--background-color);
  background-color: #2FC575;
  border-radius: 8px;
  width: clamp(89.4px, 4vw, 137px);
  height: clamp(27.31px, 4vw, 44px);
}


/*feature cards slider*/
.feature-cards-list{
  --side-spacing: 1rem; /*side spacing*/
  
  position: relative;
}

.feature-cards-list .arrow-slider-btn{
  position: absolute;
  top: 30%;
  width: clamp(24px, 5vw, 50px);
  height: clamp(22.88px, 5vw, 50px);
  z-index: 3;
}

.feature-cards-list .arrow-slider-btn.left{
  rotate: 180deg;
  left: var(--side-spacing);
}

.feature-cards-list .arrow-slider-btn.right{
  right: var(--side-spacing);
}

.feature-cards-list .feature-card{
  position: relative;
  height: 344px;
  background: linear-gradient(to right, 
  rgba(255, 255, 255, 1) 0%, 
  rgba(255, 255, 255, 0.95) 2%,
  rgba(255, 255, 255, 0.25) 11%,
  rgba(255, 255, 255, 0) 41%, 
  rgba(255, 255, 255, 0.25) 65%, 
  rgba(255, 255, 255, 0.5) 74%, 
  rgba(255, 255, 255, 1) 91%
  );
}
.feature-cards-list .feature-card .background-img{
  position: absolute;
  width: 100%;
  height: 64.9%;
  z-index: -1;
}

.feature-cards-list .feature-card  .text-content{
  padding: 0 var(--side-spacing);
  padding-top: 10.8rem;
  color: #231F20;
}

.feature-cards-list .feature-card  .text-content .heading{
  font-size: var(--home-slider-heading-fSize);
  line-height: 1.5em;
  margin-bottom: 0.6rem;
}

.feature-cards-list .feature-card  .text-content .heading .number{
  font-size: clamp(1.5rem, 2.5vw, 2.125rem);
  font-weight: 800;
}

.feature-cards-list .feature-card  .text-content .body{
  font-size: var(--home-slider-body-fSize);
  text-align: justify;
  font-weight: 500;
}
