#swine-experts-section{
  text-align: center;
  margin-bottom: 16rem;
}

#swine-experts-section .section-heading{
  font-size: var(--swineExperts-section-heading-fSize);
  margin-bottom: 2rem;
}

#swine-experts-section .expert-cards-container{
  position: relative;
  overflow-x: hidden;
  padding: 1.5rem 0;
}

#swine-experts-section .expert-cards-container .slider-btn{
  position: absolute;
  top: 50%;
  width: clamp(25px, 7.8vw, 32px);
  height: clamp(46px, 12.9vw, 53px) ;
  opacity: 0.4;
  z-index: 3;
}

#swine-experts-section .expert-cards-container .slider-btn.left{
  left: 15px;
  rotate: 180deg;
}
#swine-experts-section .expert-cards-container .slider-btn.right{
  right: 15px;
}

#swine-experts-section .expert-cards-container .scroller.d-grid{
  display: grid;
  grid-template-columns: 50% 50% 50%;
  gap: 15rem;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

#swine-experts-section .expert-cards-container .expert-card{
  min-width: 251px;
  min-height: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: left;
  padding: 1rem 1rem 2rem 1rem;
}

#swine-experts-section .expert-cards-container .expert-card .img {
  width: 100%;
  height: clamp(260px, 40vw, 359px);
  border-radius: 15px;
  margin-bottom: 1rem;
}

#swine-experts-section .expert-cards-container .expert-card .info{
  padding: 0 0.4rem;
}

#swine-experts-section .expert-cards-container .expert-card .info .name{
  font-size: var(--swineExperts-name-fSize);
}

#swine-experts-section .expert-cards-container .expert-card .info .role{
  font-size: var(--swineExperts-role-fSize);
  font-weight: 700;
  color: #1ABB65;
  margin-bottom: 1rem;
}

#swine-experts-section .expert-cards-container .expert-card .info .details{
  font-size: var(--serviceCard-details-fSize);
}


@media(width >= 1049px){
  #swine-experts-section .expert-cards-container .slider-btn{
    display: none;
  }

  #swine-experts-section .expert-cards-container .scroller.d-grid{
    grid-template-columns: 270px 270px 270px;
    gap: 5rem;
  }
  
  #swine-experts-section .expert-cards-container .expert-card{
    padding: 1rem 0rem 2rem 0rem;
    max-width: 266px;
    box-shadow: none;
    border-radius: 25px;
  }

  #swine-experts-section .expert-cards-container .expert-card .img {
    width: 100%;
    border-radius: 25px;
  }

  #swine-experts-section .expert-cards-container .expert-card .info{
    padding: 0;
  }
}